[Unit]
Description=GegeVPS Telegram Bot Integrated
After=network.target nss-lookup.target

[Service]
User=root
ExecStart=gegevps-bot
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
